.isnotok{
    -fx-background-image: url(isnotok.png);
    -fx-background-size: cover;
}

.isok{
    -fx-background-image: url(okicon.png);
    -fx-background-size: cover;
}

.badpin {
    -fx-control-inner-background: #ea4646;
}

.bigBackGround{
    -fx-background-image: url(backGround.jpg);
    -fx-background-size: cover;
}

.smallBackGround {
    -fx-background-image: url(backGround.jpg);
    -fx-background-size: cover;
}

.button {
    -fx-fill: #9355ff;
    -fx-arc-height: 50;
    -fx-arc-width: 50;
}

.addbook {
    -fx-background-image: url(addbook.png);
    -fx-background-size: cover;
    -fx-effect: dropshadow(three-pass-box, rgb(89, 85, 85), 10, 0, 0, 0);
}

.onEnter {
    -fx-opacity: 0.7;
}

.onExit {
    -fx-opacity: 0.5;

}

.choice {
    -fx-color:black;
    -fx-padding:4px;
    -fx-background-color: #7e00c4;
}

.choicebutton {
    -fx-color:black;
    -fx-padding:4px;
    -fx-background-color: #7e00c4;
}

.choicebutton:hover {
    -fx-padding:4px;
    -fx-background-color: #9a00f6;
}

.choiceoption {
    -fx-color:black;
    -fx-padding:4px;
    -fx-background-color: #6700a2;
}

.choiceoption:hover {
    -fx-color:black;
    -fx-padding:4px;
    -fx-background-color: #9a00f6;
}

.logo {
    -fx-background-image: url(logo.png);
    -fx-background-repeat: stretch;
    -fx-background-size: 200 200;
    -fx-background-position: center center;
}

.textfield-background {
    -fx-background-color:  #757575;
}

.textformat {
    -fx-effect: Shadow;
}

.settings {
    -fx-background-image: url(settings.png);
    -fx-background-size: cover;
}

.refresh {
    -fx-background-image: url(refresh.png);
    -fx-background-size: cover;
}

.logout {
    -fx-background-image: url(logout.png);
    -fx-background-size: cover;
}

.okdate {
    -fx-control-inner-background: #01c401;
}

.nodate {
    -fx-control-inner-background: #de0000;
}