.isnotok{
    -fx-background-image: url(isnotok.png);
    -fx-background-size: cover;
}

.isok{
    -fx-background-image: url(okicon.jpg);
    -fx-background-size: cover;
}

.badpin {
    -fx-control-inner-background: #ea4646;
}

.bigBackGround{
    -fx-background-image: url(backGround.jpg);
    -fx-background-size: cover;
}

.smallBackGround {
    -fx-background-image: url(background2.jpg);
    -fx-background-size: cover;
}